/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0; }

/**
 * Basic styling
 */
body {
  font: 400 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #111;
  background-color: #fdfdfd;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal; }

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
.highlight {
  margin-bottom: 15px; }

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle; }

/**
 * Figures
 */
figure > img {
  display: block; }

figcaption {
  font-size: 14px; }

/**
 * Lists
 */
ul, ol {
  margin-left: 30px; }

li > ul,
li > ol {
  margin-bottom: 0; }

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 400; }

/**
 * Links
 */
a {
  color: #2a7ae2;
  text-decoration: none; }
  a:visited {
    color: #1756a9; }
  a:hover {
    color: #111;
    text-decoration: underline; }

/**
 * Blockquotes
 */
blockquote {
  color: #828282;
  border-left: 4px solid #e8e8e8;
  padding-left: 15px;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic; }
  blockquote > :last-child {
    margin-bottom: 0; }

/**
 * Code formatting
 */
pre,
code {
  font-size: 15px;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  background-color: #eef; }

code {
  padding: 1px 5px; }

pre {
  padding: 8px 12px;
  overflow-x: auto; }
  pre > code {
    border: 0;
    padding-right: 0;
    padding-left: 0; }

/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(800px - (30px * 2));
  max-width: calc(800px - (30px * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px; }
  @media screen and (max-width: 800px) {
    .wrapper {
      max-width: -webkit-calc(800px - (30px));
      max-width: calc(800px - (30px));
      padding-right: 15px;
      padding-left: 15px; } }

/**
 * Clearfix
 */
.wrapper:after, .footer-col-wrapper:after {
  content: "";
  display: table;
  clear: both; }

/**
 * Icons
 */
.icon > svg {
  display: inline-block;
  vertical-align: middle; }
  .icon > svg path {
    fill: #828282; }

/**
 * Site header
 */
.site-header {
  border-top: 5px solid #424242;
  border-bottom: 1px solid #e8e8e8;
  min-height: 56px;
  position: relative; }

.site-title {
  font-size: 26px;
  font-weight: 300;
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left; }
  .site-title, .site-title:visited {
    color: #424242; }

.site-nav {
  float: right;
  line-height: 56px; }
  .site-nav .menu-icon {
    display: none; }
  .site-nav .page-link {
    color: #111;
    line-height: 1.5; }
    .site-nav .page-link:not(:last-child) {
      margin-right: 20px; }
  @media screen and (max-width: 600px) {
    .site-nav {
      position: absolute;
      top: 9px;
      right: 15px;
      background-color: #fdfdfd;
      border: 1px solid #e8e8e8;
      border-radius: 5px;
      text-align: right; }
      .site-nav .menu-icon {
        display: block;
        float: right;
        width: 36px;
        height: 26px;
        line-height: 0;
        padding-top: 10px;
        text-align: center; }
        .site-nav .menu-icon > svg path {
          fill: #424242; }
      .site-nav .trigger {
        clear: both;
        display: none; }
      .site-nav:hover .trigger {
        display: block;
        padding-bottom: 5px; }
      .site-nav .page-link {
        display: block;
        padding: 5px 10px;
        margin-left: 20px; }
        .site-nav .page-link:not(:last-child) {
          margin-right: 0; } }

/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid #e8e8e8;
  padding: 30px 0; }

.footer-heading {
  font-size: 18px;
  margin-bottom: 15px; }

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0; }

.footer-col-wrapper {
  font-size: 15px;
  color: #828282;
  margin-left: -15px; }

.footer-col {
  float: left;
  margin-bottom: 15px;
  padding-left: 15px; }

.footer-col-1 {
  width: -webkit-calc(35% - (30px / 2));
  width: calc(35% - (30px / 2)); }

.footer-col-2 {
  width: -webkit-calc(20% - (30px / 2));
  width: calc(20% - (30px / 2)); }

.footer-col-3 {
  width: -webkit-calc(45% - (30px / 2));
  width: calc(45% - (30px / 2)); }

@media screen and (max-width: 800px) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (30px / 2));
    width: calc(50% - (30px / 2)); }

  .footer-col-3 {
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - (30px / 2)); } }
@media screen and (max-width: 600px) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - (30px / 2)); } }
/**
 * Page content
 */
.page-content {
  padding: 30px 0; }

.page-heading {
  font-size: 20px; }

.post-list {
  margin-left: 0;
  list-style: none; }
  .post-list > li {
    margin-bottom: 30px; }

.post-meta {
  font-size: 14px;
  color: #828282; }

.post-link {
  display: block;
  font-size: 24px; }

/**
 * Posts
 */
.post-header {
  margin-bottom: 30px; }

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1; }
  @media screen and (max-width: 800px) {
    .post-title {
      font-size: 36px; } }

.post-content {
  margin-bottom: 30px; }
  .post-content h2 {
    font-size: 32px; }
    @media screen and (max-width: 800px) {
      .post-content h2 {
        font-size: 28px; } }
  .post-content h3 {
    font-size: 26px; }
    @media screen and (max-width: 800px) {
      .post-content h3 {
        font-size: 22px; } }
  .post-content h4 {
    font-size: 20px; }
    @media screen and (max-width: 800px) {
      .post-content h4 {
        font-size: 18px; } }

/**
 * Syntax highlighting styles
 */
.highlight {
  background: #fff; }
  .highlighter-rouge .highlight {
    background: #eef; }
  .highlight .c {
    color: #998;
    font-style: italic; }
  .highlight .err {
    color: #a61717;
    background-color: #e3d2d2; }
  .highlight .k {
    font-weight: bold; }
  .highlight .o {
    font-weight: bold; }
  .highlight .cm {
    color: #998;
    font-style: italic; }
  .highlight .cp {
    color: #999;
    font-weight: bold; }
  .highlight .c1 {
    color: #998;
    font-style: italic; }
  .highlight .cs {
    color: #999;
    font-weight: bold;
    font-style: italic; }
  .highlight .gd {
    color: #000;
    background-color: #fdd; }
  .highlight .gd .x {
    color: #000;
    background-color: #faa; }
  .highlight .ge {
    font-style: italic; }
  .highlight .gr {
    color: #a00; }
  .highlight .gh {
    color: #999; }
  .highlight .gi {
    color: #000;
    background-color: #dfd; }
  .highlight .gi .x {
    color: #000;
    background-color: #afa; }
  .highlight .go {
    color: #888; }
  .highlight .gp {
    color: #555; }
  .highlight .gs {
    font-weight: bold; }
  .highlight .gu {
    color: #aaa; }
  .highlight .gt {
    color: #a00; }
  .highlight .kc {
    font-weight: bold; }
  .highlight .kd {
    font-weight: bold; }
  .highlight .kp {
    font-weight: bold; }
  .highlight .kr {
    font-weight: bold; }
  .highlight .kt {
    color: #458;
    font-weight: bold; }
  .highlight .m {
    color: #099; }
  .highlight .s {
    color: #d14; }
  .highlight .na {
    color: #008080; }
  .highlight .nb {
    color: #0086B3; }
  .highlight .nc {
    color: #458;
    font-weight: bold; }
  .highlight .no {
    color: #008080; }
  .highlight .ni {
    color: #800080; }
  .highlight .ne {
    color: #900;
    font-weight: bold; }
  .highlight .nf {
    color: #900;
    font-weight: bold; }
  .highlight .nn {
    color: #555; }
  .highlight .nt {
    color: #000080; }
  .highlight .nv {
    color: #008080; }
  .highlight .ow {
    font-weight: bold; }
  .highlight .w {
    color: #bbb; }
  .highlight .mf {
    color: #099; }
  .highlight .mh {
    color: #099; }
  .highlight .mi {
    color: #099; }
  .highlight .mo {
    color: #099; }
  .highlight .sb {
    color: #d14; }
  .highlight .sc {
    color: #d14; }
  .highlight .sd {
    color: #d14; }
  .highlight .s2 {
    color: #d14; }
  .highlight .se {
    color: #d14; }
  .highlight .sh {
    color: #d14; }
  .highlight .si {
    color: #d14; }
  .highlight .sx {
    color: #d14; }
  .highlight .sr {
    color: #009926; }
  .highlight .s1 {
    color: #d14; }
  .highlight .ss {
    color: #990073; }
  .highlight .bp {
    color: #999; }
  .highlight .vc {
    color: #008080; }
  .highlight .vg {
    color: #008080; }
  .highlight .vi {
    color: #008080; }
  .highlight .il {
    color: #099; }



    * {
      margin: 0;
      /*The following lines should only be used for debugging unwanted overflow space*/
      /*Learned from Kyle Werner*/
      /*background: #000 !important;
      color: #0f0 !important;
      outline: solid #f00 1px !important;*/ }

    html,
    body {
      height: 100%; }

    body {
      font-family: 'Lato', sans-serif;
      display: block;
      /*overflow-x: hidden;*/ }

    /*Begin media queries to add some site responsiveness*/
    @media all and (max-width: 959px) and (min-width: 600px) {
      body {
        font-size: 14px; }

      .hero {
        background-position: 65% 40% !important; }

      .hero-title {
        margin-top: 50vh !important;
        width: 70% !important; }

      .hero-subtitle {
        margin-top: 1vh !important;
        width: 50%;
        font-size: large; }

      .navbar-button {
        font-size: 1.4em; }

      .nav li {
        width: 100px; }

      li.initials {
        text-align: center;
        width: 30px; } }
    @media all and (max-width: 599px) and (min-width: 320px) {
      body {
        font-size: 12px; }

      .hero {
        background-position: 65% 40% !important; }

      .hero-title {
        margin-top: 68vh !important;
        width: 70% !important; }

      .hero-subtitle {
        font-size: 10px !important;
        margin-top: 1vh !important;
        width: 65%; }

      .navbar-button {
        font-size: 1.4em; }

      .nav li {
        width: 80px; }

      li.initials {
        text-align: center;
        width: 30px; } }
    /*--End Media Queries--*/
    #nav {
      font-family: 'Raleway', sans-serif;
      font-weight: 500;
      position: fixed;
      width: 100%;
      height: 53px;
      background: #32686f;
      transition: top 0.3s ease-in-out;
      text-align: center;
      display: inline-block;
      z-index: 3; }

    .nav-up {
      top: -170px; }

    .nav-down {
      top: 0; }

    .nav ul {
      list-style: none;
      text-align: center;
      padding: 0;
      margin: 0; }

    .nav li {
      font-size: 30px;
      line-height: 50px;
      height: 43px;
      width: 120px;
      font-size: 1.4em;
      display: inline-block;
      margin-right: -4px; }

    .nav li:hover {
      list-style-position: inside;
      border-bottom: 10px solid #ffc107; }

    .nav a {
      text-decoration: none;
      color: white;
      transition: .3s; }

    .navbar-button {
      border: none;
      padding: 8px 16px;
      display: block;
      color: white;
      font-size: 1.4em !important; }

    .navbar-button:hover {
      color: #ffc107; }

    .nav li.active {
      border-bottom: 1px solid #ffc107; }

    .nav-up {
      top: -170px; }

    .nav-down {
      top: 0; }

// BEGIN CUSTOM CSS

    /*This hero container code is based on Cameron Campbell's: http://codepen.io/cdcampbell26 */
    .hero {
      background-position: 50% 50%;
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      -ms-background-size: cover;
      /* needed to prevent janky scrolling in Safari*/
      backface-visibility: hidden;
      height: 100vh;
      overflow: hidden;
      position: relative;
      width: 100%;
      /*Blue overlay for hero image*/ }
      @media screen and (min-width: 640px) {
        .hero {
          background-position: 50% 0; } }
      .hero:after {
        background-color: rgba(62, 92, 135, 0.5);
        bottom: 0;
        content: '';
        left: -2000%;
        position: absolute;
        right: -2000%;
        top: 0;
        z-index: 1; }

    .hero-container {
      box-sizing: border-box;
      height: 100vh;
      padding: 30px 50px;
      position: relative;
      z-index: 2;
      background-color: rgba(62, 92, 135, 0.5); }
      @media screen and (min-width: 640px) {
        .hero-container {
          height: 100%; } }

    .hero-title {
      color: white;
      font-family: 'Raleway', sans-serif;
      /*Respond to viewport width–works well since*/
      /*we're sizing the image according viewport height*/
      font-size: 7vw;
      font-weight: 500;
      letter-spacing: 1px;
      margin-top: 45vh;
      text-align: left;
      width: 65%;
      text-shadow: 1px 1px 1px #000; }
      @media screen and (min-width: 640px) {
        .hero-title {
          font-size: 3vw; } }

    .hero-subtitle {
      color: white;
      font-family: serif;
      margin-top: 3vh;
      text-shadow: 1px 1px 1px #000;
      font-size: large;
      width: 55%; }

    .ghost-button {
      display: inline-block;
      width: 90px;
      padding: 8px;
      color: #fff;
      border: 1px solid #fff;
      text-align: center;
      outline: none;
      text-decoration: none;
      margin-top: 2vh; }

    .ghost-button:hover,
    .ghost-button:active {
      background-color: #fff;
      color: #000; }

    .grid {
      position: relative;
      text-align: center;
      display: inline-block; }

    .col {
      float: left;
      margin: 1% 0 1% 1.6%;
      display: inline-block;
      margin: 10px; }

    .row {
      overflow: hidden;
      margin-bottom: 10px;
      text-align: center;
      display: inline-block;
      width: 60%; }

    .card {
      transition: all 0.2s ease;
      width: 40%;
      width: 225px;
      height: 225px;
      display: inline-block;
      text-align: center;
      margin: 10px;
      vertical-align: middle;
      border: 2px solid #32686f;
      background: #fff;
      overflow: hidden;
      color: #32686f;
      /*border-radius: 5px;*/ }

    /*.card {
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: all 0.2s ease;
      width: 40%;
      width: 225px;
      height: 225px;
      display: inline-block;
      text-align: center;
      margin: 10px;
      vertical-align: middle;
      border: 2px solid #32686f;
      background: #32686f;
      overflow: hidden;
      border-radius: 5px;
    }*/
    .card:hover {
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
      background-color: #32686f;
      color: #fff;
      /*transition: 0.3s;*/ }

    .card span {
      text-decoration: none;
      text-align: center;
      display: block; }

    .card > span {
      transition: all 0.2s ease; }

    .card > div {
      width: 225px;
      height: 225px;
      background-color: #fff; }

    .card p > a {
      color: #32686f;
      transition: all 0.2s ease; }

    .card:hover p > a {
      color: #fff;
      transition: all 0.2s ease; }

    /*.info {
      color: #32686f;
      line-height: 25px;
      height: 235px;
      position: relative;
      z-index: 1;
    }*/
    /*.info>p>a{
      color:#FFFFFF;
    }

    .info>ul{
      list-style: disc;
    }*/
    /*
    .info>li{
      text-align: left;
      left:0px;
    }

    .info:hover{
      color: #fff;
    }*/
    li > span {
      margin-left: -10px;
      left: 0px;
      text-align: left;
      width: 180px; }

    .container {
      padding: 2px 16px;
      display: inline-block;
      position: absolute;
      bottom: -200px; }

    .about {
      height: auto;
      width: 100%;
      margin: 0px; }

    .bio {
      margin-top: 40px;
      margin-bottom: 40px;
      display: inline-block;
      font-size: 1.3em;
      text-align: center;
      width: 70%; }

    .bio > p {
      margin-top: 5%;
      margin-bottom: 5%; }

    .projects {
      display: block;
      margin-top: auto;
      margin-bottom: 40px; }

    .section:target {
      padding-top: 10px; }

    #projects.section:target {
      padding-top: 50px; }

    .social-media-footer.a {
      cursor: auto; }

    .social-media-footer,
    .page-wrap:after {
      height: 50px;
      line-height: 45px;
      text-align: center;
      width: 100%; }

    .social-media-footer {
      height: 55px;
      line-height: 55px;
      text-align: center;
      background: #32686f;
      font-size: 1.6em;
      margin-bottom: 0; }

    .page-wrap {
      min-height: 100vh;
      margin-bottom: -50px;
      display: inline-block;
      width: 100%; }

    .page-wrap:after {
      content: "";
      display: block;
      width: 100%; }
