/*Begin media queries to add some site responsiveness*/

@media all and (max-width: 959px) and (min-width: 600px) {
    body {
        font-size: 14px;
    }
    .hero {
        background-position: 65% 40% !important;
    }
    .hero-title {
        margin-top: 68vh !important;
        width: 70% !important;
    }
    .hero-subtitle {
        margin-top: 1vh !important;
        width: 55%;
    }
    .navbar-button {
        font-size: 1.4em;
    }
    .nav li {
        width: 100px;
    }
    li.initials {
        text-align: center;
        width: 30px;
    }
}

@media all and (max-width: 599px) and (min-width: 320px) {
    body {
        font-size: 12px;
    }
    .hero {
        background-position: 65% 40% !important;
    }
    .hero-title {
        margin-top: 68vh !important;
        width: 70% !important;
    }
    .hero-subtitle {
        font-size: 10px !important;
        margin-top: 1vh !important;
        width: 65%;
    }
    .ghost-button {}
    .navbar-button {
        font-size: 1.4em;
    }
    .nav li {
        width: 80px;
    }
    li.initials {
        text-align: center;
        width: 30px;
    }
}

* {
    margin: 0;
    /*The following lines should only be used for debugging unwanted overflow space*/
    /*Learned from Kyle Werner*/
    /*background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;*/
}

html, body {
    height: 100%;
}

body {
    font-family: 'Lato', sans-serif;
    display: block;
}

#nav {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    position: fixed;
    width: 100%;
    height: 53px;
    background: #3e5c87;
    transition: top 0.3s ease-in-out;
    text-align: center;
    display: inline-block;
    z-index: 99999;
}

.nav, .page-wrap:before {
    height: -170px;
    line-height: 50px;
    text-align: center;
}

.nav-up {
    top: -170px;
}

.nav-down {
    top: 0;
}

.nav ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

.nav li {
    font-size: 30px;
    line-height: 50px;
    height: 43px;
    width: 120px;
    font-size: 1.4em;
    display: inline-block;
    margin-right: -4px;
}

.nav li:hover {
    list-style-position: inside;
    border-bottom: 10px solid #ffc107;
}

.nav a {
    text-decoration: none;
    color: white;
    transition: .3s background-color;
}

.navbar-button {
    border: none;
    padding: 8px 16px;
    display: block;
    color: white;
    font-size: 1.4em !important;
}

.navbar-button:hover {
    color: #ffc107;
}

.nav li.active {
    border-bottom: 1px solid #ffc107;
}

.grid {
    position: relative;
    text-align: center;
    display: inline-block;
}

.col {
    float: left;
    margin: 1% 0 1% 1.6%;
    display: inline-block;
    margin: 10px;
}

.row {
    overflow: hidden;
    margin-bottom: 10px;
    text-align: center;
    display: inline-block;
    width: 100%;
}

.box {
    float: center;
    width: 225px;
    height: 225px;
    line-height: 225px;
    text-align: center;
    background-color: rgba(62, 92, 135, .5);
    margin: 10px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 3px;
}


/*This hero container code originated from Cameron Campbell: http://codepen.io/cdcampbell26 */

.hero {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    /* needed to prevent janky scrolling in Safari*/
    backface-visibility: hidden;
    height: 100vh;
    overflow: hidden;
    position: relative;
    width: 100%;
    @media screen and (min-width: 640px) {
        background-position: 50% 0;
    }
    /*Blue overlay for hero image*/
    &:after {
        background-color: rgba(62, 92, 135, .5);
        bottom: 0;
        content: '';
        left: -2000%;
        position: absolute;
        right: -2000%;
        top: 0;
        z-index: 1;
    }
}

.hero-container {
    box-sizing: border-box;
    height: 100vh;
    padding: 30px 50px;
    position: relative;
    z-index: 2;
    background-color: rgba(62, 92, 135, .5);
    @media screen and (min-width: 640px) {
        height: 100%;
    }
}

.hero-title {
    color: white;
    font-family: 'Raleway', sans-serif;
    /*Respond to viewport width–works well since*/
    /*we're sizing the image according viewport height*/
    font-size: 7vw;
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 45vh;
    text-align: left;
    width: 65%;
    text-shadow: 1px 1px 1px #000;
    @media screen and (min-width: 640px) {
        font-size: 3vw;
    }
}

.hero-subtitle {
    color: white;
    font-family: $font-serif;
    margin-top: 5vh;
    text-shadow: 1px 1px 1px #000;
}

.ghost-button {
    display: inline-block;
    width: 90px;
    padding: 8px;
    color: #fff;
    border: 1px solid #fff;
    text-align: center;
    outline: none;
    text-decoration: none;
    margin-top: 2vh;
}

.ghost-button:hover, .ghost-button:active {
    background-color: #fff;
    color: #000;
}

.about {
    height: auto;
    margin: 10px;
}

.bio {
    margin-top: 40px;
    margin-bottom: 40px;
    display: inline-block;
    font-size: 1.3em;
    text-align: center;
    width: 70%;
}

.projects {
    display: block;
    margin-top: auto;
    margin-bottom: 40px;
}

.section:target {
    padding-top: 10px;
}

#projects.section:target {
    padding-top: 50px;
}

.social-media-footer.a {
    cursor: auto;
}

.social-media-footer, .page-wrap:after {
    height: 50px;
    line-height: 45px;
    text-align: center;
}

.social-media-footer {
    height: 55px;
    line-height: 55px;
    text-align: center;
    background: #3e5c87;
    font-size: 1.6em;
    margin-bottom: 0;
}

.page-wrap {
    min-height: 100vh;
    margin-bottom: -50px;
    display: inline-block;
}

.page-wrap:after {
    content: "";
    display: block;
}
