<div class="social-media-footer">
    <a href="https://www.linkedin.com/in/francisjp" target="_blank">
        <i class="fa fa-linkedin navbar-button" aria-hidden="true"></i></a>
    <a href="https://github.com/JamesFranc" target="_blank">
        <i class="fa fa-github-alt navbar-button" aria-hidden="true"></i></a>
    <a href="mailto:francis.jamesii@gmail.com">
        <i class="fa fa-envelope navbar-button" aria-hidden="true"></i></a>
</div>
<noscript id="deferred-styles">
  <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Lato|Raleway:500" rel="stylesheet">
</noscript>
<script>
    var loadDeferredStyles = function() {
        var addStylesNode = document.getElementById("deferred-styles");
        var replacement = document.createElement("div");
        replacement.innerHTML = addStylesNode.textContent;
        document.body.appendChild(replacement)
        addStylesNode.parentElement.removeChild(addStylesNode);
    };
    var raf = requestAnimationFrame || mozRequestAnimationFrame ||
        webkitRequestAnimationFrame || msRequestAnimationFrame;
    if (raf) raf(function() {
        window.setTimeout(loadDeferredStyles, 0);
    });
    else window.addEventListener('load', loadDeferredStyles);
</script>
